# Directories
.go
.vscode
/build/_output
/cmd/manager/__debug_bin
vendor
/.DS_Store
/.project
/vendor
.idea

Dockerfile.tmp

.vscode


resources/options.yaml
resources/env.list
resources/kubeconfig
resources/result


